@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


body {
  font-family: Helvetica;
}

.wrapper {
  position: relative;
  display: inline-block;
}

#root > div {
  height: 100vh;

  @include for-tablet-landscape-up {
    display:flex;
  }
}

.selectedGif {
  position: sticky;

  @include for-tablet-landscape-up {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
  }

  .form-search {
    padding: 60px 60px 60px 120px;
    border: none;
    font-size: 2.6em;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  &:before {
    content: '\F002';
    position: absolute;
    top: 35px;
    left: 60px;
    font-family: FontAwesome;
    font-size: 2.6em;
    opacity: 0.4;
  }

  .selected-gif {
     @include for-phone-only {
      text-align: center;
  }

     @include for-tablet-portrait-up {
      text-align: center;
  }

     @include for-tablet-landscape-up  {
      text-align: center;
      display: flex;
      flex-grow: 1;
      height: calc(100vh - 232px);
      justify-content: center;
      align-items: center;
  }

    .gif {
      max-width: 80%;
      max-height: 80%;
      margin: auto;
    }
  }
}

  .deleteGiphy {
    position: absolute;
    top:0;
    right:0;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    outline:none;
  }

  .giflistContainer {
    @include for-phone-only {
      overflow: scroll;
  }

    @include for-tablet-landscape-up {
      flex: 0 0 60%;
      overflow: scroll;
  }

  .gif-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;

    .gif {
      width: 100%;
      margin: 5px;
      cursor: pointer;
    }
  }
}
